/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* start from here*/
.container {
  height: 100vh;
  min-height: 500px;
}
.container .sidebar {
  float: left;
  width: 180px;
  height: 100%;
  background: #354051;
  display: block;
  transition: width .5s;
}
.container .sidebar .account {
  height: 180px;
  width: 100%;
}
.container .sidebar .menu .menu_section {
  font-size: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border-top: solid 2px #2f3848;
  overflow: hidden;
}
.container .sidebar .menu .menu_section .category {
  padding: 20px 0 20px 15px;
  cursor: default;
  display: block;
  color: #647289;
}
.container .sidebar .menu .menu_section .item-list {
  color: #59677d;
  padding-bottom: 5px;
  white-space: nowrap;
  text-overflow: clip;
}
.container .sidebar .menu .menu_section .item-list .item {
  padding: 8px 0 8px 15px;
  cursor: default;
  display: block;
  font-weight: 700;
}
.container .sidebar .menu .menu_section .item-list .item:hover,
.container .sidebar .menu .menu_section .item-list .item--selected {
  background-color: #2f3948;
  border-left: solid 3px #25A6F7;
  padding-left: 12px;
}
.container .sidebar .menu .menu_section .item-list--hidden {
  display: none;
}
.container .sidebar--hidden {
  transition: width .5s;
  width: 0;
}
.container .page {
  height: 100%;
  overflow: auto;
}
.container .page .header {
  border-bottom: solid 2px #e6e8eb;
  font-size: 15px;
}
.container .page .header .menu-toggler {
  display: inline-flex;
  width: 2em;
  height: 2em;
  float: left;
  margin: 15px 5px 15px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.container .page .header .menu-toggler .bar {
  width: 1.5em;
  border-top: solid 3px #7b8593;
  margin-bottom: 4px;
}
.container .page .header .brand {
  width: 200px;
  display: inline-block;
}
.container .page .header .brand .pulse-logo {
  display: inline-block;
  font-size: 2em;
  color: #c2c8d0;
  margin: 15px 0;
}
.container .page .header .button {
  cursor: pointer;
  float: right;
  display: inline-flex;
  border-left: solid 2px #e6e8eb;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.container .page .header .button:hover {
  background: #25a6f7;
}
